
# Created by https://www.gitignore.io/api/snapcraft,visualstudiocode

### Snapcraft ###
# Snapcraft
parts/
prime/
stage/
*.snap

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/snapcraft,visualstudiocode
